*{
  margin:0px;
  padding: 0px;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
}

body{
    background-color:#262626;
}

#todo_contenido{
    display: block;
    position: relative;
    width:70vw;
    height:auto;
    background-color:rgb(238, 238, 238);
    box-shadow: 0px 3px 20px;
    padding: 10px;
    margin: auto;
}

#caixa_xarxes_socials{
    display: flex;
    position: relative;
    width: auto;
    height: auto;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-end;
    align-items:center;
    background-color: grey;
}
#facebook{
    width: 40px;
    height: 40px;
    background-image: url(../pages/fotos/facebook1.png);
}
#facebook:hover{
    background-image: url(../pages/fotos/facebook2.png);
    transition:all 0.5s;
}

#instagram{
    width: 40px;
    height:40px;
    background-image: url(../pages/fotos/instagram1.png);
}

#instagram:hover{
    background-image: url(../pages/fotos/instagram2.png);
    transition:all 0.5s;
}

#nombre{
    font-family: 'Permanent Marker', cursive;
    font-size: 28px;
    text-align: center;
}

/*INICI NAVEGADOR*/

#hamburguesa{
    display: inline-block;
    position: absolute;
    top:0;
    left:0;
}

nav{
    display: flex;
    position: relative;
    width: auto;
    height: auto;
    padding: 10px;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:center;
    background-color: grey;
}

.paginas{
   
    width: 300px;
    height: auto;
    font-size: 20px;
    text-decoration: none;
    background-color:white;
    border-radius: 5px;
    padding: 6px;
    border-style: solid;
    text-align: center;
    margin-top: 10px;
}
a{
    color:black;
}

.paginas:hover {
    background-color:#00858C;
    transition: all 0.5s;
    border-radius: 7px;
}

/*FINAL NAVEGADOR*/

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
}
    
#caixa1{
    display: block;
    position:relative;
    width: auto;
    height: auto; 
}

@media only screen and (max-width:300px){
    
#caixa1{
    font-size: 13px;
}
}

footer{
    position: fixed;
    width: 100vw;
    height: 20px;
    bottom: 0%;
    left: 0%;
    background-color:rgba(255,255,255,0.5);
}

/*CSS PER SLIDER DE FEINES*/
.clearfix {
    overflow: auto;
}

.container {
    width: 75%;
    margin: auto;
    border: 1px solid red;
    box-sizing: border-box;
    text-align: center;
}

.container-display {
    position: relative;
    margin-top: 10px;
    width: 100%;

}

.container-text {
    text-align: left;
    /*indicador*/
    margin: 5px;
    border: 1px dashed purple;
}

.boton-slider {
    width: 30px;
    height: 30px;
    background-color: grey;
}

.boton-slider:hover {
    width: 30px;
    height: 30px;
    background-color: ghostwhite;
}

.fletxaDreta-slider {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    */
}

.fletxaEsquerra-slider {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
}

/*FINAL CSS PER SLIDER DE FEINES*/