*{
  margin:0px;
  padding: 0px;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
}

body{
    background-image:url(../pages/fotos/portada1.jpg);
    background-size: cover;
    background-repeat: repeat;
    overflow-x: hidden;
}

#presentacion{
    display: block;
    position: absolute;
    /*background-color: red;*/
    left: 70vw;
    
    font-family: 'Permanent Marker', cursive;
    font-size: 28px;
    text-align: center;
    letter-spacing: 5px;
    color: white;
    margin:10px;
}

h1{
    font-family: 'Permanent Marker', cursive;
}

#boton_visitar_web{
    display: block;
    position: absolute;
    width: 110px;
    height: 40px;
    left: 10vw;
    margin-top: 20px;
    background-color: #EE8C36;
    color: white;
    padding-top:10px;
    padding-left: 10px;
    font-size: 15px;
    transition: all ease 0.5s;
    z-index:2;
}

#boton_visitar_web:hover{
    background-color: black;
    cursor: pointer;
}



@media screen and (max-width: 1320px){
    body{
        background-image:url(../pages/fotos/portada_2.jpg);
    }
    #presentacion{
    left: 40vw;
    width: 300px;
    top:25vh;
    font-size: 24px;
    text-align: center;
    letter-spacing: 5px;
}

}

@media screen and (max-width: 700px){
    #presentacion{
    left: 27vw;
}
    #boton_visitar_web{
    left:15vw;
    }
}

@media screen and (max-width: 1000px){
    body{
        background-image:url(../pages/fotos/portada_mobil_bien.jpg);
        background-size: cover;
        background-position: top;
    }
    #presentacion{
    left: 40vw;
    width: 300px;
    top:25vh;
    font-size: 24px;
    text-align: center;
    letter-spacing: 5px;
}

}

@media screen and (max-width: 700px){
    #presentacion{
    left: 27vw;
}
    #boton_visitar_web{
    left:15vw;
    }
}

@media screen and (max-width: 500px){
    #presentacion{
    left: 20vw;
    width: 300px;
    top:25vh;
    font-size: 24px;
    text-align: center;
    letter-spacing: 5px;
    /*background-color:rgba(0,0,0,0.5);*/
}
    #boton_visitar_web{
    left:15vw;
    }
}

@media screen and (max-width: 460px){
    body{
        background-image: url(../pages/fotos/portada_4.jpg);
    }
    
    #presentacion{
    left: 5vw;
    width: 300px;
    top:20vh;
    font-size: 24px;
    text-align: center;
    letter-spacing: 5px;
}
    #boton_visitar_web{
    left:15vw;
    }
}

@media screen and (max-width: 320px){
    body{
        background-repeat: repeat;
    }
    
    #presentacion{
    left: 2vw;
    width: 150px;
    top:20vh;
    font-size: 14px;
    text-align: center;
    letter-spacing: 5px;
}
    #boton_visitar_web{
    left:15vw;
    }
}
