*{
  margin:0px;
  padding: 0px;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
}

body{
    background-color:rgb(238, 238, 238);
    overflow-x: hidden;
}

#nombre{
    font-family: 'Permanent Marker', cursive;
    font-size: 28px;
    text-align: center;
    color: white;
    margin:10px;
}

#vacio_arriba{
    display: block;
    position: relative;
    background-color: red;
    width: 100vw;
    height: 60px;
    top: 0px;
}

#nombre_seccion{
    font-family: 'Permanent Marker', cursive;
    font-size: 28px;
    text-align: center;
    color: black;
    margin:10px;
}

header{
    display: block;
    position: absolute;
    background-color:#262626;
    width: 100vw;
    height: 60px;
    z-index: 100;
}

.wrapper_animaciones{
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    background-color:rgb(238, 238, 238);
}

.wrapper_curriculum{
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin: auto;
    align-items: center;
}

#caja_curriculum{
    display: block;
    position:relative;
    width: 65vw;
    height: auto; 
}

#foto_curriculum{
    display: flex;
    position: absolute;
    width: 100px;
    height: 150px;
    border-radius: 10%;
    background-image: url(../pages/fotos/Adrian2.jpg);
    background-size:cover;
    background-position: bottom;
    left: 50vw;
}

#todo_contenido{
    display: block;
    position: relative;
    width:70vw;
    height:auto;
    background-color:rgb(238, 238, 238);
    box-shadow: 0px 3px 20px;
    padding: 10px;
    margin: auto;
    padding-top: 60px;
}


#vacio{
    display: flex;
    position: relative;
    width: 100vw;
    height: 100px;
}

footer{
    display: block;
    position:fixed;
    background-color: #262626;
    bottom: 0;
    width: 100vw;
    height: 100px;
    z-index: 100;
}

#contenedor_footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 100vh;    
}

#foto_mia{
    display: flex;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(../pages/fotos/Adrian2.jpg);
    background-size:cover;
    background-position: bottom;
    margin-top: 25px;
}

#adrian{
    display: flex;
    position: relative;
    text-align: center;
    margin-top: 40px;
    margin-left: 20px;
    color:white;
}

#boton_curriculum{
    display: block;
    position: relative;
    width: 130px;
    height: 40px;
    top: 20px;
    left: 30px;
    background-color: #EE8C36;
    color: white;
    padding-top:20px;
    padding-left: 25px;
    font-size: 15px;
    transition: all ease 0.5s;
    z-index:100;
}

#boton_curriculum:hover{
    background-color: black;
    cursor: pointer;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 1000px){
  
    body{
    background-color:lightyellow;
} 
    .wrapper_animaciones {
    width: 100vw;
}
#todo_contenido{
    width:100vw;
}
    #caja_curriculum{
    width: 90vw;
}
    #foto_curriculum{
    left: 70vw;
}
}

@media screen and (max-width: 711px){
  
    body{
    background-color:lightblue;
} 
    #foto_curriculum{
    width: 50px;
    height: 100px;
}
}

@media screen and (max-width: 320px){
  
 #nombre{
    font-size: 20px;
}
    body{
    background-color:brown;
}
    #caja_curriculum{
    font-size: 13px;
}
}